:root{
  --primary-color: #512da8;
  --primary-light: #8559da;
  --primary-dark: #140078;
  --secondary-color: #ff4081;
  --light-color: rgb(205, 189, 250);
  --dark-color: #333;
  --gray-color: #757575;
  --error-color: #ff5252;
  --success-color: #4caf50;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--light-color);
  padding: 20px;
  margin: 0;
}
h1{
 font-weight: 600;
 margin: 0 0 10px 0;
}

p{
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px ;
}

span{
  font-size: 12px;
  color: var(--gray-color);
  margin: 15px 0;
  display: block;
}
a{
  color: var(--gray-color);
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

a:hover{
  color: var(--primary-color);
}

button{
  border-radius: 20px;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}
